Repository hmcts/wa-case-event-handler, pull requests merged in 2020-12, with the labels that each got.

#28 CVE-2020-13956
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-28

#29 Feature/rwa 238 workflow message endpoint 2
  Jenkinsfile_CNP
  build.gradle
  charts/wa-case-event-handler/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerEndPointTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/WorkflowApiClient.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/WorkflowApiClientToInitiateTask.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerController.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/CcdEventMessage.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/EventInformation.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/SendMessageRequest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/TaskEvaluateDmnRequest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/TaskEvaluateDmnResponse.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/TaskSendMessageRequest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/cancellationtask/CancellationTaskEvaluateDmnResponse.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/initiatetask/InitiateTaskEvaluateDmnRequest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/initiatetask/InitiateTaskEvaluateDmnResponse.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/initiatetask/InitiateTaskSendMessageRequest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/warningtask/WarningTaskEvaluateDmnResponse.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/CancellationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/CaseEventHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/WarningTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/dates/DateFormatter.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/dates/IsoDateFormatter.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/initiatetask/InitiationTaskHandler.java
  src/main/resources/application-local.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/EvaluateDmnRequestToInitiateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/EvaluateDmnResponseToInitiateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/EventInformationTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/helpers/InitiateTaskHelper.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/CancellationTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/InitiationTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/WarningTaskHandlerTest.java
  src/test/resources/uk/gov/hmcts/reform/wacaseeventhandler/domain/expected-event-information-from-ccd.json
  src/test/resources/uk/gov/hmcts/reform/wacaseeventhandler/domain/valid-event-information.json
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-29

#25 Feature/rwa 238 evaluate endpoint
  Jenkinsfile_CNP
  build.gradle
  charts/wa-case-event-handler/Chart.yaml
  charts/wa-case-event-handler/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/CreatorObjectMapper.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/WelcomeTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/ServiceTokenGeneratorConfigurationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerEndPointTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/Application.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/WorkflowApiClient.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/WorkflowApiClientToInitiateTask.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/ServiceTokenGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerController.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/CcdEventMessage.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/DmnIntegerValue.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/DmnStringValue.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/EvaluateDmnRequest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/EvaluateDmnResponse.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/EventInformation.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/SendMessageRequest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/TaskEvaluateDmnRequest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/TaskEvaluateDmnResponse.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/TaskSendMessageRequest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/cancellationtask/CancellationTaskEvaluateDmnResponse.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/initiatetask/InitiateTaskEvaluateDmnRequest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/initiatetask/InitiateTaskEvaluateDmnResponse.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/initiatetask/InitiateTaskSendMessageRequest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/warningtask/WarningTaskEvaluateDmnResponse.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/CancellationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/CaseEventHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/InitiationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/WarningTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/dates/DateFormatter.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/dates/IsoDateFormatter.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/initiatetask/InitiationTaskHandler.java
  src/main/resources/application-local.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/EvaluateDmnRequestToInitiateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/EvaluateDmnResponseToInitiateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/EventInformationTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/helpers/InitiateTaskHelper.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/CancellationTaskHandlerServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/CancellationTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/InitiationTaskHandlerServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/InitiationTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/WarningTaskHandlerServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/WarningTaskHandlerTest.java
  src/test/resources/uk/gov/hmcts/reform/wacaseeventhandler/domain/evaluate-dmn-request.json
  src/test/resources/uk/gov/hmcts/reform/wacaseeventhandler/domain/evaluate-dmn-response.json
  src/test/resources/uk/gov/hmcts/reform/wacaseeventhandler/domain/expected-event-information-from-ccd.json
  src/test/resources/uk/gov/hmcts/reform/wacaseeventhandler/domain/valid-event-information.json
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-25

#24 Feature/rwa 238 add pattern
  .gitignore
  Jenkinsfile_CNP
  build.gradle
  charts/wa-case-event-handler/Chart.yaml
  charts/wa-case-event-handler/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/CreatorObjectMapper.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/WelcomeTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/ServiceTokenGeneratorConfigurationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerEndPointTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/GetWelcomeTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/Application.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/WorkflowApiClient.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/WorkflowApiClientToInitiateTask.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/ServiceTokenGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/advice/BadRequestAdvice.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/advice/ErrorMessage.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerController.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/DmnIntegerValue.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/DmnStringValue.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/EvaluateDmnRequest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/EvaluateDmnResponse.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/EventInformation.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/SendMessageRequest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/TaskEvaluateDmnRequest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/TaskEvaluateDmnResponse.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/TaskSendMessageRequest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/cancellationtask/CancellationTaskEvaluateDmnResponse.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/initiatetask/InitiateTaskEvaluateDmnRequest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/initiatetask/InitiateTaskEvaluateDmnResponse.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/initiatetask/InitiateTaskSendMessageRequest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/warningtask/WarningTaskEvaluateDmnResponse.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/CancellationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/CaseEventHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/WarningTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/dates/DateFormatter.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/dates/IsoDateFormatter.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/initiatetask/InitiationTaskHandler.java
  src/main/resources/application-local.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/EvaluateDmnRequestToInitiateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/EvaluateDmnResponseToInitiateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/EventInformationTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/helpers/InitiateTaskHelper.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/CancellationTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/InitiationTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/WarningTaskHandlerTest.java
  src/test/resources/uk/gov/hmcts/reform/wacaseeventhandler/domain/evaluate-dmn-request.json
  src/test/resources/uk/gov/hmcts/reform/wacaseeventhandler/domain/evaluate-dmn-response.json
  src/test/resources/uk/gov/hmcts/reform/wacaseeventhandler/domain/expected-event-information-from-ccd.json
  src/test/resources/uk/gov/hmcts/reform/wacaseeventhandler/domain/valid-event-information.json
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-24

#33 RWA-253: Fix index.hmtl not being generated on functional test reports
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-33

#38 Fix CVE-2020-8908: Update google guava to v30.1
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-38

#39 add junit test for the WorkflowApiClientToInitiateTask
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerController.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/initiatetask/InitiateTaskEvaluateDmnRequest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/dates/IsoDateFormatter.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/WorkflowApiClientToInitiateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/dates/IsoDateFormatterTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-39

#40 add junit test for pojo
  build.gradle
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/initiatetask/InitiateTaskSendMessageRequestTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-40
