Repository hmcts/wa-case-event-handler, pull requests merged in 2021-12, with the labels that each got.

#196 RWA-940 - Add flyway scripts to create wa-case-event-messages db table
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  charts/wa-case-event-handler/Chart.yaml
  charts/wa-case-event-handler/values.preview.template.yaml
  charts/wa-case-event-handler/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerBackwardsCompatibilityTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerEndpointTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerSecurityTest.java
  src/main/resources/application-db.yaml
  src/main/resources/application.yaml
  src/main/resources/db/migration/V20211129_940__RWA-940-add-wa-case-event-messages.sql
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-196

#200 RWA-990 - Consume messages from new ccd-case-events subscription
  charts/wa-case-event-handler/Chart.yaml
  charts/wa-case-event-handler/values.yaml
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventsConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/CcdCaseEventsExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/ServiceBusConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventConsumerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-200

#203 Rwa 990 - fix typo in subscription name
  charts/wa-case-event-handler/Chart.yaml
  charts/wa-case-event-handler/values.yaml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-203

#202 log4j upgraded to 2.15.0
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-202

#204 Rwa 990 - Fix duplicate spring bean name error
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/CcdCaseEventsExecutor.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-204

#199 RWA-931 ORM mapping plumbing
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerEndpointTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerHandlersOrderTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/JacksonConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerController.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/model/CaseEventMessage.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/entity/CaseEventMessageEntity.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/entity/MessageState.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/exceptions/CaseEventMessageDuplicateMessageIdException.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/exceptions/CaseEventMessageInvalidJsonException.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/exceptions/CaseEventMessageNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageRepository.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/CaseEventMessageMapper.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageReceiverService.java
  src/main/resources/db/migration/V20211209_931__RWA-931-drop-caseId-not-null-constraint.sql
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/CaseEventMessageMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageReceiverServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-199

#205 Rwa 999 - Consume DLQ messages
  build.gradle
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventsDeadLetterQueueConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/CcdCaseEventsDeadLetterQueueExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/ServiceBusConfiguration.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventDeadLetterQueueConsumerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-205

#207 audit.json updated for security issues
  audit.json
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-207

#208 RWA-999 - fix duplicate bean error
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/CcdCaseEventsDeadLetterQueueExecutor.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-208

#197 RWA-712 Integrate with Fortify
  Jenkinsfile_nightly
  build.gradle
  config/fortify-client.properties
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-197
