Repository hmcts/wa-case-event-handler, pull requests merged in 2021-02, with the labels that each got.

#59 Rwa 315
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/ServiceBusPublisherConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerEndPointTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/GetWelcomeTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdEventMessageConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/JacksonConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/ServiceBusConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/common/EventInformation.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/CancellationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/InitiationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/CcdMessageProcessor.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdEventMessageConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/EventInformationTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/CancellationTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/CcdMessageProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/InitiationTaskHandlerTest.java
  src/test/resources/uk/gov/hmcts/reform/wacaseeventhandler/domain/expected-event-information-from-ccd.json
  src/test/resources/uk/gov/hmcts/reform/wacaseeventhandler/domain/valid-event-information.json
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-59

#41 Update DMN with tenant id
  charts/wa-case-event-handler/Chart.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerEndPointTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/WorkflowApiClient.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/WorkflowApiClientToCancelTask.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/WorkflowApiClientToInitiateTask.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/CancellationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/InitiationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/HandlerConstants.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/initiatetask/InitiationTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/WorkflowApiClientToCancelTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/WorkflowApiClientToInitiateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/CancellationTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/InitiationTaskHandlerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-41

#64 Rwa 346
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/CcdEventPublisherConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdEventConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdEventMessageConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/CcdEventExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/ServiceBusConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdEventConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdEventMessageConsumerTest.java
  src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-64

#70 bumping java chart version
  charts/wa-case-event-handler/Chart.yaml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-70

#69 Rwa 347
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/CreatorObjectMapper.java
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdEventConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/ServiceBusConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/common/EventInformation.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/InitiationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/ccd/CcdEventLogger.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/ccd/CcdEventProcessor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/ccd/DeadLetterMessage.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/ccd/DeadLetterService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdEventConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/helpers/InitiateTaskHelper.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/ccd/CcdEventProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/ccd/DeadLetterMessageTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/ccd/DeadLetterServiceTest.java
  src/test/resources/uk/gov/hmcts/reform/wacaseeventhandler/domain/expected-event-information-from-ccd.json
  src/test/resources/uk/gov/hmcts/reform/wacaseeventhandler/domain/valid-event-information.json
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-69

#75 CVE Fixes: CVE-2020-13943
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-75

#80 Remove Suppressions
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-80

#68 Added idempotency key generation
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdEventConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/initiatetask/InitiateProcessVariables.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/InitiationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/IdempotencyKeyGenerator.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/ccd/CcdEventProcessor.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdEventConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/IdempotencyKeyGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/InitiationTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/ccd/CcdEventProcessorTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-68

#84 Nightly dev
  Jenkinsfile_nightly
  audit.json
  security.sh
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-84

#87 Pull and Save ASB connection string in vault
  infrastructure/main.tf
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-87

#85 Use ASB connection string in vault
  charts/wa-case-event-handler/Chart.yaml
  charts/wa-case-event-handler/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/CcdEventPublisherConfiguration.java
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/ServiceBusConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-85

#88 Catching uknown application errors
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdEventConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/ccd/CcdEventErrorHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/ccd/CcdEventProcessor.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdEventConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/ccd/CcdEventErrorHandlerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-88
