Repository hmcts/wa-case-event-handler, pull requests merged in 2021-04, with the labels that each got.

#103 udpated readme file
  README.md
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-103

#107 ignoring security in nighlty build. Added few more tests
  audit.json
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/CancellationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/InitiationTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/WorkflowApiClientToCancelTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/WorkflowApiClientToInitiateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/WorkflowApiClientToWarnTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/CancellationTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/InitiationTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/WarningTaskHandlerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-107

#110 RWA-475: Add launch darkly sdk key from vault
  src/main/resources/bootstrap.yaml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-110

#102 add azure service bus toggler
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/LaunchDarklyClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/LaunchDarklyFunctionalTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-102

#111 RWA-475: add secret to values.yaml
  charts/wa-case-event-handler/Chart.yaml
  charts/wa-case-event-handler/values.yaml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-111

#116 RWA-496: Bump hmctspublic java chart version
  charts/wa-case-event-handler/Chart.yaml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-116

#114 RWA-437 : Calculating delayDuration
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerEndPointTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/common/AdditionalData.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/common/EventInformation.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/initiatetask/InitiateEvaluateRequest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/InitiationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/DueDateService.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/EvaluateDmnRequestToInitiateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/EventInformationTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/cancellationtask/AdditionalDataTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/helpers/InitiateTaskHelper.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/DueDateServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/InitiationTaskHandlerTest.java
  src/test/resources/uk/gov/hmcts/reform/wacaseeventhandler/domain/evaluate-dmn-request.json
  src/test/resources/uk/gov/hmcts/reform/wacaseeventhandler/domain/evaluate-dmn-response.json
  src/test/resources/uk/gov/hmcts/reform/wacaseeventhandler/domain/expected-event-information-additional-data.json
  src/test/resources/uk/gov/hmcts/reform/wacaseeventhandler/domain/valid-event-information-additional-data.json
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-114

#118 Fix CVE-2021-29425
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-118

#109 Added safeguard to correctly generate dmn table names
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/CancellationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/InitiationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/WarningTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/HandlerConstants.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/HandlerConstantsTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-109

#117 RWA-482: Task initiation feature flag
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/LaunchDarklyClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/LaunchDarklyFeatureFlagProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/LaunchDarklyFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/FeatureToggler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/LaunchDarklyFeatureFlagProvider.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/LaunchDarklyFeatureToggler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/features/FeatureFlag.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/ccd/CcdEventProcessor.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/LaunchDarklyFeatureFlagProviderTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/LaunchDarklyFeatureTogglerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/ccd/CcdEventProcessorTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-117

#123 RWA-514: Migrating to taskVariables
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/initiatetask/InitiateProcessVariables.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/InitiationTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/InitiationTaskHandlerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-123

#119 Rwa 498
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-119

#120 Rwa 485: Added support for additional data in ccd message
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerEndPointTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/common/AdditionalData.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/common/EventInformation.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/initiatetask/InitiateEvaluateRequest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/ia/CaseEventFieldsDefinition.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/InitiationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/ccd/CcdEventProcessor.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/EvaluateDmnRequestToInitiateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/EventInformationTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/common/AdditionalDataTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/common/EventInformationTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/helpers/InitiateTaskHelper.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/InitiationTaskHandlerTest.java
  src/test/resources/uk/gov/hmcts/reform/wacaseeventhandler/domain/expected-event-information-additional-data.json
  src/test/resources/uk/gov/hmcts/reform/wacaseeventhandler/domain/valid-event-information-additional-data.json
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-120

#127 Enable additional data log
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/ccd/CcdEventProcessor.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-127
