Repository hmcts/wa-case-event-handler, pull requests merged in 2021-01, with the labels that each got.

#44 RWA-305: add mutation coverage
  build.gradle
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/WorkflowApiClientToCancelTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/cancellationtask/CancellationCorrelationKeysTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/cancellationtask/CancellationEvaluateRequestTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/cancellationtask/CancellationEvaluateResponseTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-44

#46 Feature/rwa 286 2: Add logic to cancel tasks
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/WorkflowApiClientToCancelTask.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/cancellationtask/CancellationCorrelationKeys.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/cancellationtask/CancellationEvaluateResponse.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/common/SendMessageRequest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/initiatetask/InitiateEvaluateResponse.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/initiatetask/InitiateProcessVariables.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/CancellationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/InitiationTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/CancellationTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/InitiationTaskHandlerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-46

#45 RWA-286 task categories to initiate and cancel tasks
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/WorkflowApiClientToCancelTask.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerController.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/cancellationtask/CancellationCorrelationKeys.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/cancellationtask/CancellationEvaluateResponse.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/common/SendMessageRequest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/initiatetask/InitiateEvaluateResponse.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/initiatetask/InitiateProcessVariables.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/CancellationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/CaseEventHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/InitiationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/WarningTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/CancellationTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/InitiationTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/WarningTaskHandlerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-45

#48 Rwa 246
  README.md
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/Application.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/initiatetask/InitiateProcessVariables.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/InitiationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/DateService.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/DueDateService.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/holidaydates/CountryHolidayDates.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/holidaydates/GovUkHolidayDatesClient.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/holidaydates/HolidayDate.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/holidaydates/HolidayLoader.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/holidaydates/HolidayService.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/holidaydates/UkHolidayDates.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/EventInformationTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/cancellationtask/common/DmnIntegerValueTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/cancellationtask/common/DmnStringValueTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/cancellationtask/common/EvaluateDmnResponseTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/DueDateServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/FixedDateService.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/HolidayServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/InitiationTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/holidaydates/CountryHolidayDatesTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/holidaydates/HolidayDateTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/holidaydates/HolidayLoaderTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/holidaydates/UkHolidayDatesTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-48

#53 added wait time for task creation
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-53
