Repository hmcts/wa-case-event-handler, pull requests merged in 2021-03, with the labels that each got.

#90 Improve logging messages
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdEventConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/ServiceBusConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/ccd/CcdEventErrorHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/ccd/CcdEventProcessor.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdEventConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/ccd/CcdEventErrorHandlerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-90

#93 Set eventId to dynamic value
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-93

#92 Exception handling
  README.md
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdEventConsumer.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-92

#86 Rwa 187
  build.gradle
  charts/wa-case-event-handler/Chart.yaml
  gradle/wrapper/gradle-wrapper.properties
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/common/SendMessageRequest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/CancellationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/WarningTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/WorkflowApiClientToInitiateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/WorkflowApiClientToWarnTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/InitiationTaskHandlerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-86

#96 Rename casetype to caseTypeId
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/initiatetask/InitiateProcessVariables.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/InitiationTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/InitiationTaskHandlerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-96

#91 added launch darkly
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/LaunchDarklyClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/LaunchDarklyFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/FeatureToggler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/LaunchDarklyFeatureToggler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/FeatureToggleConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/LaunchDarklyFeatureTogglerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-91

#98 Added delayUntil and dueDate functionality
  README.md
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/Application.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/handlers/initiatetask/InitiateEvaluateResponse.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/InitiationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/DateService.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/DueDateService.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/dates/DateFormatter.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/dates/IsoDateFormatter.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/initiatetask/InitiationTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/DueDateServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/FixedDateService.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/InitiationTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/dates/IsoDateFormatterTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-98
