Repository hmcts/wa-case-event-handler, pull requests merged in 2021-06, with the labels that each got.

#148 fix functional test
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-148

#151 CVE-2021-22118
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-151

#147 RWA-532: Functional Tests
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerBackwardsCompatibilityTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerEndpointTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-147

#154 Ignore functional tests with non-existing requirement
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-154

#159 updated FT
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-159
