Repository hmcts/wa-case-event-handler, pull requests merged in 2021-08, with the labels that each got.

#179 upgrade spring boot to 2.4
  build.gradle
  charts/wa-case-event-handler/Chart.yaml
  charts/wa-case-event-handler/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerBackwardsCompatibilityTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerEndpointTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerHandlersOrderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerSecurityTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/camunda/WarningValues.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-179

#183 fix sonar issues
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/WarningCaseEventHandler.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/WarningCaseEventHandlerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-183

#184 CVE-2021-28170
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-184

#185 Updated nightly build to run FTs
  Jenkinsfile_nightly
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-185

#186 Added new fields to Additonal Data in FT
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerBackwardsCompatibilityTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerEndpointTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/ccd/message/EventInformationTest.java
  src/test/resources/uk/gov/hmcts/reform/wacaseeventhandler/domain/ccd/message/expected-event-information-additional-data.json
  src/test/resources/uk/gov/hmcts/reform/wacaseeventhandler/domain/ccd/message/valid-event-information-additional-data.json
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-186
