Repository hmcts/wa-case-event-handler, pull requests merged in 2021-05, with the labels that each got.

#129 Fix: CVE-2021-21290, CVE-2021-21295, CVE-2021-21409
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-129

#121 Rwa 473
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-121

#130 Added FT
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-130

#137 Task/rwa 521 target user
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/LaunchDarklyFeatureFlagProviderTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/LaunchDarklyFeatureFlagProvider.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/ccd/CcdEventProcessor.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/LaunchDarklyFeatureFlagProviderTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/ccd/CcdEventProcessorTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-137

#140 update field name to be dateDue
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/ia/CaseEventFieldsDefinition.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/InitiationTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/helpers/InitiateTaskHelper.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-140

#141 RWA-545 Hotfix : Calculating DelayUntil with calendar days
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/DueDateService.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/DueDateServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-141

#125 Rwa 483
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/WorkflowApiClientToCancelTask.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/WorkflowApiClientToWarnTask.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/CustomLogBookConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/LogBookPayloadStrategy.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/InitiationTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/ccd/CcdEventProcessor.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/WorkflowApiClientToCancelTaskTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/WorkflowApiClientToWarnTaskTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-125

#145 Fix generic responses in Feign client for evaluate dmn
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerEndPointTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/WorkflowApiClient.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/camunda/request/SendMessageRequest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/camunda/response/CancellationEvaluateResponse.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/camunda/response/EvaluateDmnResponse.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/camunda/response/InitiateEvaluateResponse.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/CancellationCaseEventHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/InitiationCaseEventHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/WarningCaseEventHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/ccd/CcdEventProcessor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/holidaydates/CountryHolidayDates.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/holidaydates/HolidayDate.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/holidaydates/UkHolidayDates.java
  src/main/resources/application-local.yaml
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/CancellationCaseEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/InitiationCaseEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/WarningCaseEventHandlerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-145

#146 RWA-532-c: Changes to support new multicategory format
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerEndPointTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/camunda/response/CancellationEvaluateResponse.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/camunda/response/InitiateEvaluateResponse.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/InitiationCaseEventHandler.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/CancellationCaseEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/WarningCaseEventHandlerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-146
