Repository hmcts/wa-case-event-handler, pull requests merged in 2022-02, with the labels that each got.

#215 RWA-969 Add test endpoint for the case event handler to query the DB
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerTestingControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerTestingController.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/model/EventMessageQueryResponse.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/exceptions/InvalidRequestParametersException.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageCustomCriteriaRepository.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageQueryService.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerTestingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageCustomCriteriaRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageQueryServiceTest.java
  src/test/resources/sql/delete_from_case_event_messages.sql
  src/test/resources/sql/insert_case_event_messages.sql
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-215

#223 RWA-1122 [SH] Updating audit.json to include an ignore for some new w…
  audit.json
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-223

#221 RWA-1110 [SH][BN] Changing submitCase to buildCase reflecting updates…
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-221

#216 RWA-1048 Add tests for two DLQ feature flags
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/LaunchDarklyFeatureFlagProviderTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/features/FeatureFlag.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-216

#225 RWA-1122 [SH] Updating audit.json to include an ignore for some new w…
  audit.json
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-225

#224 Rwa 1021 - Add functional tests for consuming messages from DLQ & inserting in DB
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/DlqMessagesToDatabaseTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventsConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventsDeadLetterQueueConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdEventConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/CcdCaseEventsDeadLetterQueueExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/CcdCaseEventsExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/CcdEventExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/ServiceBusConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/model/EventMessageQueryResponse.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventDeadLetterQueueConsumerTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/CreatorObjectMapper.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/MessagingTests.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-224

#220 RWA-1035 - Entity inserted into DB should update delivery count on conflict
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerEndpointTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageReceiverService.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageReceiverServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/util/TestFixtures.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-220

#222 RWA-1020 FTs for consuming messages and inserting in DB
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/AsbMessagesToDatabaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerTestingControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/DlqMessagesToDatabaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerEndpointTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerTestingController.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerTestingControllerTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/MessagingTests.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-222

#228 Refactor:Up the java chart version
  charts/wa-case-event-handler/Chart.yaml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-228

#229 RWA-1148: Fix case event handler
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/LaunchDarklyFeatureFlagProviderTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-229

#230 refactor:resolve cve issues
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageQueryService.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageReceiverService.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/IdempotencyKeyGenerator.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-230

#218 RWA 977 - Perform Message Readiness checks
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/MessageReadinessTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/CcdMessageProcessorExecutorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/MessageReadinessExecutorTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/DatabaseMessageConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/CcdCaseEventsDeadLetterQueueExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/CcdCaseEventsExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/CcdEventExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/CcdMessageProcessorExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/MessageReadinessExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageRepository.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/DeadLetterQueuePeekService.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageReceiverService.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/MessageReadinessConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/util/UserIdParser.java
  src/main/resources/application-db.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/DatabaseMessageConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/DeadLetterQueuePeekServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageReceiverServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/MessageReadinessConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/util/TestFixtures.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/util/UserIdParserTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-218

#233 Bump java chart
  charts/wa-case-event-handler/Chart.yaml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-233

#237 suppress CWE-862
  audit.json
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-237

#236 RWA-979: Enable the post deployment functional tests to insert messag…
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdEventConsumer.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdEventConsumerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-236
