Repository hmcts/wa-case-event-handler, pull requests merged in 2022-06, with the labels that each got.

#306 RWA-1432: Deployment:- Mechanism in place to turn off existing ASB su…
  charts/wa-case-event-handler/Chart.yaml
  charts/wa-case-event-handler/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/CcdEventPublisherConfiguration.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/MessageReadinessTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/EventConsumerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ProblemMessageControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventsConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventsDeadLetterQueueConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/MessageReadinessConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/ServiceBusConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/CcdCaseEventsDeadLetterQueueExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/CcdCaseEventsExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/MessageReadinessExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/DeadLetterQueuePeekService.java
  src/main/resources/application.yaml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-306

#311 RWA-1486: Read next message to process should check hold_until timest…
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/DatabaseMessageConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageRepository.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/DatabaseMessageConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageRepositoryTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-311

#314 RWA-1508: CVE-2022-22978 suppression (false positive)
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-314

#307 RWA-1267 [SH] expanding gradle short imports
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-307

#313 The product name should be wa.
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-313

#317 RWA-1523: fixed fortifyScan error
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-317

#312 RWA-1449 trigger mark to reconfigure action
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/wa-case-event-handler/Chart.yaml
  charts/wa-case-event-handler/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/TaskManagementTestClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/request/TerminateInfo.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/request/TerminateTaskRequest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/functionalTest/resources/application-functional.yaml
  src/functionalTest/resources/requests/ccd/wa_case_data.json
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerHandlersOrderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerSecurityTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/TaskManagementApiClient.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/camunda/CancellationActions.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/model/ExecuteReconfigureTaskFilter.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/model/MarkTaskToReconfigureTaskFilter.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/model/TaskFilter.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/model/TaskFilterOperator.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/model/TaskOperation.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/model/TaskOperationName.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/model/TaskOperationRequest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/CancellationCaseEventHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/InitiationCaseEventHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/ReconfigurationCaseEventHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/camunda/CancellationActionsTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/model/ExecuteReconfigureTaskFilterTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/model/MarkTaskToReconfigureTaskFilterTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/model/TaskOperationNameTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/model/TaskOperationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/model/TaskOperationTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/CancellationCaseEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/ReconfigurationCaseEventHandlerTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/SpringBootFunctionalBaseTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/request/InitiateTaskOperation.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/request/InitiateTaskRequest.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/request/TaskAttribute.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/request/TaskAttributeDefinition.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/config/GivensBuilder.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/services/AuthorizationProvider.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/utils/Common.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-312

#254 Rwa 1143
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTestHelper.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/WarningEventHandlerControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-254
