Repository hmcts/wa-case-event-handler, pull requests merged in 2022-07, with the labels that each got.

#332 RWA-1635 - supress RWA-1635 - supress
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-332

#328 RWA-1611: Handle "Token expired" exception
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/RestExceptionCategory.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/RestExceptionCategoryTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-328

#331 RWA-1584-consider holiday and weekends when calculating delay duration
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/InitiationCaseEventHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/services/DueDateServiceTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/DueDateService.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/DueDateServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-331

#327 Increase logs
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/InitiationCaseEventHandler.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-327

#320 Adding some more logging to see the problems in prod.
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/MessageProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/MessageReadinessTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/UpdateRecordErrorHandlingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/EventConsumerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/CcdMessageProcessorExecutorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/OpenAPIPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerBackwardsCompatibilityTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerEndpointTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerHandlersOrderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerSecurityTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ProblemMessageControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventsConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/DatabaseMessageConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/MessageReadinessConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/DeadLetterQueuePeekService.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageReceiverService.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/ccd/CcdEventProcessor.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/DatabaseMessageConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageCustomCriteriaRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageErrorHandlingRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageReceiverServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-320

#329 RWA-1613: UNPROCESSABLE message should block subsequent message from …
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/MessageProcessorFunctionalTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-329
