Repository hmcts/wa-case-event-handler, pull requests merged in 2022-11, with the labels that each got.

#384 Migrate from IA to WA (RWA-1877)
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/AsbMessagesToDatabaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/DlqMessagesToDatabaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/MessageProcessorFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerFunctionalTestHelper.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerTestingControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ProblemMessageControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/WarningEventHandlerControllerTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/SpringBootFunctionalBaseTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/config/GivensBuilder.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/services/AuthorizationProvider.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/utils/Common.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-384

#403 RWA-1967 fix cve issues
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-403

#395 Handle data conflict issue gracefully for duplicate task creation (RWA-1882)
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/SpringBootFunctionalBaseTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/request/InitiateTaskRequest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-395

#385 RWA-1832
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/MessageProcessorFunctionalTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-385

#397 RWA-1921 fix timestamp rounding issue
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerHandlersOrderTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/ccd/message/EventInformation.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/ccd/message/EventInformationTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageReceiverServiceTest.java
  src/test/resources/uk/gov/hmcts/reform/wacaseeventhandler/domain/ccd/message/expected-event-information-additional-data.json
  src/test/resources/uk/gov/hmcts/reform/wacaseeventhandler/domain/ccd/message/expected-event-information-from-ccd.json
  src/test/resources/uk/gov/hmcts/reform/wacaseeventhandler/domain/ccd/message/valid-event-information-additional-data.json
  src/test/resources/uk/gov/hmcts/reform/wacaseeventhandler/domain/ccd/message/valid-event-information.json
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-397

#406 RWA-1985: revert troublesome timestamp format
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerHandlersOrderTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/ccd/message/EventInformation.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/ccd/message/EventInformationTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageReceiverServiceTest.java
  src/test/resources/uk/gov/hmcts/reform/wacaseeventhandler/domain/ccd/message/expected-event-information-additional-data.json
  src/test/resources/uk/gov/hmcts/reform/wacaseeventhandler/domain/ccd/message/expected-event-information-from-ccd.json
  src/test/resources/uk/gov/hmcts/reform/wacaseeventhandler/domain/ccd/message/valid-event-information-additional-data.json
  src/test/resources/uk/gov/hmcts/reform/wacaseeventhandler/domain/ccd/message/valid-event-information.json
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-406

#417 Remove old subscription usage from tests (RWA-1995)
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/DatabaseMessageConsumerResilienceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/MessageReadinessResilienceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/MessageReadinessTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/EventConsumerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ProblemMessageControllerTest.java
  src/main/resources/application.yaml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-417

#393 RWA-1933 removed hardcoded UPDATE event to log warning messages when warning fields are non-null
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/ReconfigurationCaseEventHandler.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/ReconfigurationCaseEventHandlerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-393

#405 RWA-1984 Merge Remaining Dependabot Updates
  build.gradle
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-405

#419 Up the chart version to resolve failing pipeline
  infrastructure/.terraform-version
  infrastructure/state.tf
  infrastructure/versions.tf
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-419

#418 RWA-2017 - Fix issue with pipeline
  infrastructure/variables.tf
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-418

#407 RWA-2016 Reset event timestamp value for unprocessable message
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/jobs/JobName.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/jobservices/ResetNullEventTimestampMessageJob.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/jobservices/ResetNullEventTimestampMessageJobTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-407

#399 RWA-1916 empty caseEventMessages before tests
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/AsbMessagesToDatabaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/DlqMessagesToDatabaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/MessageProcessorFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/query/FindProblemMessageTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-399

#431 RWA-2060 - CVE FIX - CVE-2022-41946 - upgrade postgresql 42.4.3
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-431
