Repository hmcts/wa-case-event-handler, pull requests merged in 2022-03, with the labels that each got.

#231 RWA-982 [SH] Upgrading springboot version to 2.6 and openfeign to 3.0.6
  build.gradle
  config/checkstyle/checkstyle.xml
  gradle/wrapper/gradle-wrapper.properties
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/OpenAPIPublisherTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/OpenAPIConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerController.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerTestingController.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/DatabaseMessageConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageCustomCriteriaRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageRepositoryTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-231

#243 refactor:Supress spring boot vunerabilities
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-243

#239 RWA-1142 add clean up helm release into PR stage
  Jenkinsfile_CNP
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-239

#238 Rwa 1103 - Integration and functional tests for Message Processing
  charts/wa-case-event-handler/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/DlqMessagesToDatabaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/MessageProcessorFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/MessageProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/MessageReadinessExecutorTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/DatabaseMessageConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/MessageReadinessConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/CcdMessageProcessorExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/MessageReadinessExecutor.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/DatabaseMessageConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/MessageReadinessConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/util/TestFixtures.java
  src/test/resources/sql/insert_case_event_messages_for_processing.sql
  src/test/resources/sql/insert_case_event_messages_for_processing_from_dlq.sql
  src/test/resources/sql/insert_case_event_messages_for_processing_from_dlq_with_same_case_id.sql
  src/test/resources/sql/insert_case_event_messages_for_processing_no_ready_msgs.sql
  src/test/resources/sql/insert_case_event_messages_for_processing_ready_msgs.sql
  src/test/resources/sql/insert_processing_ready_case_event_messages_for_different_case.sql
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/CreatorObjectMapper.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/MessagingTests.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-238

#242 RWA-976: Handling of error scenarios for inserting messages in the da…
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerEndpointTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventsDeadLetterQueueConsumer.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventDeadLetterQueueConsumerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-242

#248 RWA-1194 Get the case even handler build to green
  charts/wa-case-event-handler/Chart.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/MessageProcessorFunctionalTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-248

#250 Revert "RWA-1197: Add integration test to cover error scenarios in ASB message consumer (for subscription & DLQ)"
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/EventConsumerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/MessageReadinessExecutorTest.java
  src/integrationTest/resources/mockito-extensions/org.mockito.plugins.MockMaker
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventsConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventsDeadLetterQueueConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdEventConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/CcdCaseEventsDeadLetterQueueExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/CcdCaseEventsExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/CcdEventExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/CcdMessageProcessorExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/ExecutorServiceConfig.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/MessageReadinessExecutor.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventDeadLetterQueueConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdEventConsumerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-250

#252 RWA-1254 CVE-2020-36518 suppressed
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-252

#249 RWA-1202 [SH] Fixing swagger doc
  src/main/resources/application.yaml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-249
