Repository hmcts/wa-case-event-handler, pull requests merged in 2022-10, with the labels that each got.

#351 RWA-1521 reservice - Camunda - Switch off Task configuration
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerTestingControllerFunctionalTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-351

#376 Remove random caseId generation from functional tests
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerTestingControllerFunctionalTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/MessagingTests.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-376

#378 RWA-1781
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-378

#374 RWA-1824 Fix Reconfiguration issue
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/model/TaskOperation.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/ReconfigurationCaseEventHandler.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-374

#352 RWA 1757 - Case Event Handler extension to cover problem of unusual number of messages
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ReceivedMessagesHealthControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/UnprocessedMessagesHealthControllerTest.java
  src/integrationTest/resources/scripts/insert_case_event_messages.sql
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ReceivedMessagesHealthController.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/UnprocessedMessagesHealthController.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageRepository.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ReceivedMessagesHealthControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/UnprocessedMessagesHealthControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-352

#361 RWA-1702 - refactor assertTaskHasMultipleWarnings method
  charts/wa-case-event-handler/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/WarningEventHandlerControllerTest.java
  src/main/resources/application.yaml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-361

#355 RWA-1647-db-resilience-check
  Jenkinsfile_CNP
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/MessageReadinessResilienceTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/MessageReadinessConsumer.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-355

#375 RWA-1848: added terraform support to renovate
  .github/renovate.json
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-375

#387 RWA 1938
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-387
