Repository hmcts/wa-case-event-handler, pull requests merged in 2022-09, with the labels that each got.

#340 RWA-1711 Fix timestamp comparison with trailing zeros
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/MessageProcessorFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerFunctionalTestHelper.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerTestingControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ProblemMessageControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/WarningEventHandlerControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-340

#342 RWA-1521 Camunda - Switch off Task configuration code
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerTestingControllerFunctionalTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-342

#346 RWA-1751: CVE-2022-25857
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-346

#345 Rwa 1711 Test improvements
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/AsbMessagesToDatabaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/MessageProcessorFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerFunctionalTestHelper.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerTestingControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/WarningEventHandlerControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ProblemMessageControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/DatabaseMessageConsumerTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/MessagingTests.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-345

#348 RWA-1776: Upgraded launchdarkly-java-server-sdk
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-348

#353 RWA-1795 - added missing docker plugin and resolve StringUtils import…
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerFunctionalTestHelper.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-353

#350 Rwa 1778
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerTestingControllerFunctionalTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-350

#347 RWA-1718 - health endpoint reports when no CCD events
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/MessageProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/MessageReadinessTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/UpdateRecordErrorHandlingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/EventConsumerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/CcdMessageProcessorExecutorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/OpenAPIPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerBackwardsCompatibilityTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerEndpointTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerHandlersOrderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerSecurityTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ProblemMessageControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ReceivedMessagesHealthEndpointIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/InitiationCaseEventHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/services/DueDateServiceTest.java
  src/integrationTest/resources/scripts/insert_case_event_messages.sql
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/DatabaseMessageConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/TimeConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ReceivedMessagesHealthEndpoint.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageRepository.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/DueDateService.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/holidaydates/HolidayService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/DatabaseMessageConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ReceivedMessagesHealthEndpointTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageCustomCriteriaRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageErrorHandlingRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/DueDateServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/holidaydates/HolidayServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-347

#360 Use created ccd cases Id in functional tests
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/AsbMessagesToDatabaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/DlqMessagesToDatabaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/MessageProcessorFunctionalTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-360

#363 Rwa 1828
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-363
