Repository hmcts/wa-case-event-handler, pull requests merged in 2022-04, with the labels that each got.

#255 RWA-1271 Suppress postgres CVE
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-255

#247 RWA-1171-add-waDummyPostcode
  src/functionalTest/resources/requests/ccd/case_data.json
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-247

#258 RWA-1300 Fix multiple CVE spring boot upgrade to 2.6.6
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-258

#246 RWA-1003: Create new endpoint for case event handler to query the Cas…
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerTestingControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ProblemMessageControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerEndpointTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ProblemMessageControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/query/FindProblemMessageTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/query/FindProblemMessageUnhappyPathTest.java
  src/integrationTest/resources/application-integration.yaml
  src/integrationTest/resources/scripts/problem_messages_data.sql
  src/integrationTest/resources/scripts/problem_messages_unhappy_path_data.sql
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ProblemMessageController.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/jobs/JobName.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/model/CaseEventMessage.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/exceptions/LoggingUtilityFailure.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageRepository.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageReceiverService.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/ProblemMessageService.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/util/LoggingUtility.java
  src/main/resources/application-db.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ProblemMessageControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/exceptions/LoggingUtilityFailureTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/ProblemMessageServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/util/LoggingUtilityTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-246

#257 RWA-985:Handling of error scenarios when updating the database post processing (agree simplified approach to tests then determine priority)
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/UpdateRecordErrorHandlingTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/DatabaseMessageConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/model/MessageUpdateRetry.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageErrorHandlingRepository.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageRepository.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/UpdateRecordErrorHandlingService.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/DatabaseMessageConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageErrorHandlingRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/UpdateRecordErrorHandlingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/util/UserIdParserTest.java
  src/test/resources/sql/insert_case_event_messages_for_processing_ready_msgs.sql
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-257

#261 RWA-1169 Enhance integration tests for message insertion to cover any…
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerEndpointTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventsConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventsDeadLetterQueueConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerTestingController.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageReceiverService.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventDeadLetterQueueConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerTestingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageReceiverServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-261

#264 RWA-1334: upgraded spring boot and dependencycheck plugin
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-264

#259 RWA-1098-autoscaling for R1
  build.gradle
  charts/wa-case-event-handler/Chart.yaml
  charts/wa-case-event-handler/values.yaml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-259
