Repository hmcts/wa-case-event-handler, pull requests merged in 2022-05, with the labels that each got.

#267 RWA-1350: upgraded postgresql jdbc driver to 42.3.4
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-267

#262 RWA-1313 Check Idempotency key is being generated and passed correctly by DLQ message process
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerTestingControllerTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-262

#265 RWA-1225: Improve performance of post-deployment-test
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/DatabaseMessageConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/MessageReadinessConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/CcdMessageProcessorExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/MessageReadinessExecutor.java
  src/main/resources/application.yaml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-265

#266 RWA-1316 fixed disabled tests
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageCustomCriteriaRepositoryTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-266

#281 Dependabot configuration changes
  .github/dependabot.yml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-281

#251 RWA-1197 Add integration test to cover error scenarios in ASB message consumer (for subscription & DLQ)
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/EventConsumerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/MessageReadinessExecutorTest.java
  src/integrationTest/resources/application-integration.yaml
  src/integrationTest/resources/mockito-extensions/org.mockito.plugins.MockMaker
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventsConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventsDeadLetterQueueConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdEventConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/CcdCaseEventsDeadLetterQueueExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/CcdCaseEventsExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/CcdEventExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/CcdMessageProcessorExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/ExecutorServiceConfig.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/MessageReadinessExecutor.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventDeadLetterQueueConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdEventConsumerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-251

#288 RWA-1382: upgraded launchdarkly-java-server-sdk due to CVE-2022-25647
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-288

#292 Upgraded pitest gradle plugin to 0.15 to work with junit 5.8.2
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-292

#295 RWA-1402 supress netty-transport
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-295

#296 RWA-1408 - CVE-2016-1000027 supression
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-296

#298 RWA-1426 - upgrade springframework boot version 2.6.7 -> 2.7.0
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-298

#290 RWA-1087 evaluate cancellation dmn response for reconfigure action should return empty warning and process category fields
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/CancellationCaseEventHandler.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/CancellationCaseEventHandlerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-290

#299 RWA-1434: Deployment:- Verify DLQ solution is switched on in AAT and …
  charts/wa-case-event-handler/Chart.yaml
  charts/wa-case-event-handler/values.preview.template.yaml
  charts/wa-case-event-handler/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/MessageProcessorFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerTestingControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-299

#304 RWA-1434: Deployment:- Verify DLQ solution is switched on in AAT
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ProblemMessageControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/MessageProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/CcdMessageProcessorExecutorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/MessageReadinessExecutorTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-304
