Repository hmcts/wa-case-event-handler, pull requests merged in 2022-08, with the labels that each got.

#333 RWA-1612: Job to unblock UNPROCESSABLE message
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ProblemMessageControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/EventConsumerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ProblemMessageControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/query/FindProblemMessageTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/query/FindProblemMessageUnhappyPathTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/query/ResetProblemMessageTest.java
  src/integrationTest/resources/application-integration.yaml
  src/integrationTest/resources/scripts/problem_messages_data.sql
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ProblemMessageController.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/jobs/JobName.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/jobs/JobResponse.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/model/ProblemMessage.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageRepository.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/CaseEventMessageMapper.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageReceiverService.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/jobservices/FindProblemMessageJob.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/jobservices/MessageJob.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/jobservices/ProblemMessageService.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/jobservices/ResetProblemMessageJob.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ProblemMessageControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/model/ProblemMessageTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageErrorHandlingRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/CaseEventMessageMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageReceiverServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/jobservices/FindProblemMessageJobTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/jobservices/ProblemMessageServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/jobservices/ResetProblemMessageJobTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-333

#321 RWA-1069 Re-visit the CEH FTs which are marked as @Ignore
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/SpringBootFunctionalBaseTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/config/GivensBuilder.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/services/AuthorizationProvider.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/utils/Common.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-321

#338 RWA-1699 CVE fix
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-338

#339 Change the message id format in Integration Test to match with prod message id
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/query/FindProblemMessageTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/query/ResetProblemMessageTest.java
  src/integrationTest/resources/application-integration.yaml
  src/integrationTest/resources/scripts/problem_messages_data.sql
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/DatabaseMessageConsumer.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-339

#325 RWA-1515 Case event handler - Remove R1 elements
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/LaunchDarklyFeatureFlagProviderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/UpdateRecordErrorHandlingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/EventConsumerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/MessageReadinessExecutorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerEndpointTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ProblemMessageControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdEventConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/DatabaseMessageConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/MessageReadinessConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/ServiceBusConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/CcdEventExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/features/FeatureFlag.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageReceiverService.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/ccd/CcdEventProcessor.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdEventConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/DatabaseMessageConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/LaunchDarklyFeatureFlagProviderTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/MessageReadinessConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageReceiverServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/ccd/CcdEventProcessorTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-325

#341 RWA-1175: application insights v3 upgrade
  Dockerfile
  charts/wa-case-event-handler/Chart.yaml
  charts/wa-case-event-handler/values.yaml
  lib/AI-Agent.xml
  lib/applicationinsights.json
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/camunda/WarningValues.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/IdempotencyKeyGenerator.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-341

#334 RIA-1624 clean up Role Assignments in AAT
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/functionalTest/resources/requests/roleAssignment/r2/set-organisational-role-assignment-request.json
  src/functionalTest/resources/requests/roleAssignment/set-organisational-role-assignment-request.json
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-334

#343 Add backstage configuration file
  catalog-info.yaml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-343
