Repository hmcts/wa-case-event-handler, pull requests merged in 2022-01, with the labels that each got.

#210 RWA-1030 - Add indexes on columns in wa_case_event_messages table
  src/main/resources/db/migration/V20220105_1030__RWA-1030-add_indices.sql
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-210

#201 RWA 991 - Insert messages from new subscription into DB
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventsConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/features/FeatureFlag.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageReceiverService.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageReceiverServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-201

#211 feat:Remove group usage(RWA-722)
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerEndpointTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/camunda/response/InitiateEvaluateResponse.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/InitiationCaseEventHandler.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/InitiationCaseEventHandlerBackwardsCompatibilityTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/InitiationCaseEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/helpers/InitiateTaskHelper.java
  src/test/resources/uk/gov/hmcts/reform/wacaseeventhandler/domain/camunda/response/evaluate-dmn-response.json
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-211

#209 RWA-968 Add test endpoint for the case event handler to add messages to the DB
  charts/wa-case-event-handler/Chart.yaml
  charts/wa-case-event-handler/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/CreatorObjectMapper.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerTestingControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerController.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerTestingController.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/ccd/message/EventInformationMetadata.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/ccd/message/EventInformationRequest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/exceptions/CaseEventMessageNoAllowedRequestException.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageReceiverService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerTestingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageReceiverServiceTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-209

#212 Rwa 1000 - Insert DLQ message into DB
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerEndpointTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventsDeadLetterQueueConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageReceiverService.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventDeadLetterQueueConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageReceiverServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-212

#213 RWA-1050 [SH] fixing nightly build
  audit.json
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-213

#214 RWA-930 - Process messages retrieved from database
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/CcdMessageProcessorExecutorTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/DatabaseMessageConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/LaunchDarklyFeatureFlagProvider.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/RestExceptionCategory.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/CcdMessageProcessorExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/entity/CaseEventMessageEntity.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageRepository.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/ccd/CcdEventProcessor.java
  src/main/resources/application-db.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdEventConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/DatabaseMessageConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/RestExceptionCategoryTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/ccd/CcdEventProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/util/TestFixtures.java
  src/test/resources/sql/insert_case_event_messages.sql
  src/test/resources/sql/insert_case_event_messages_from_dlq.sql
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-214

#217 RWA-930 - Change constant name to satisfy fortify scan
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/LaunchDarklyFeatureFlagProvider.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-217
