Repository hmcts/wa-case-event-handler, pull requests merged in 2023-03, with the labels that each got.

#486 Copy date calculation code from task management (RWA-2348)
  build.gradle
  charts/wa-case-event-handler/Chart.yaml
  charts/wa-case-event-handler/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/services/calendar/PublicHolidaysCollectionTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/BankHolidaysApi.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/CaffeineConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/SnakeCaseFeignConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/calendar/BankHolidays.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/calendar/DelayUntilIntervalData.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/exceptions/CalendarResourceInvalidException.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/exceptions/CalendarResourceNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/exceptions/DateCalculationException.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/calendar/DelayUntilCalculator.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/calendar/DelayUntilConfigurator.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/calendar/DelayUntilDateCalculator.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/calendar/DelayUntilDateTimeCalculator.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/calendar/DelayUntilIntervalCalculator.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/calendar/DelayUntilObject.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/calendar/PublicHolidaysCollection.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/calendar/WorkingDayIndicator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/calendar/BankHolidaysTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/calendar/DelayUntilConfiguratorTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/calendar/DelayUntilDateCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/calendar/DelayUntilDateTimeCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/calendar/DelayUntilIntervalCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/calendar/WorkingDayIndicatorTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-486

#491 RWA-2367-some logs added and handle NullPointerException
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/DatabaseMessageConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/ccd/message/EventInformation.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/model/CaseEventMessage.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/CancellationCaseEventHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/InitiationCaseEventHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/ReconfigurationCaseEventHandler.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/WarningCaseEventHandler.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/ccd/message/EventInformationTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/ReconfigurationCaseEventHandlerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-491

#495 RWA-2357: upgrade gradlew to 7.6.1 and reactor-netty-http to 1.1.4
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-495

#503 Resolve CVE and Swagger ui issue
  .github/renovate.json
  .github/workflows/swagger.yml
  Dockerfile
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/WarningEventHandlerControllerTest.java
  src/main/resources/application.yaml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-503

#514 Test delay until date issue
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/DelayTasksBasedOnDelayUntilTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/InitiationCaseEventHandler.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-514

#504 RWA-2367: After adding Multiple Applications and progress a case task…
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/MessageProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/query/FindProblemMessageTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/UnprocessableHttpErrors.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/DatabaseMessageConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/UnprocessableHttpErrorsTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-504
