Repository hmcts/wa-case-event-handler, pull requests merged in 2023-02, with the labels that each got.

#462 update owasp dependencycheck
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-462

#458 RWA-2158 add some logs to fix non removed message ids
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/MessageProcessorFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerFunctionalTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/MessagingTests.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/utils/Common.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-458

#456 RWA-1490 clean up job added
  charts/wa-case-event-handler/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/AsbMessagesToDatabaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/DlqMessagesToDatabaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerTestingControllerFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/services/CleanUpMessageJobTest.java
  src/integrationTest/resources/application-integration.yaml
  src/integrationTest/resources/scripts/clean_up_message_data.sql
  src/integrationTest/resources/scripts/insert_case_event_messages.sql
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/job/CleanUpJobConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/jobs/JobName.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageRepository.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/jobservices/CleanUpMessageJob.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/config/job/CleanUpJobConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageReceiverServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/jobservices/CleanUpMessageJobTest.java
  src/test/resources/sql/insert_case_event_messages.sql
  src/test/resources/sql/insert_case_event_messages_for_processing_from_dlq.sql
  src/test/resources/sql/insert_case_event_messages_for_processing_from_dlq_with_same_case_id.sql
  src/test/resources/sql/insert_case_event_messages_for_processing_ready_msgs.sql
  src/test/resources/sql/insert_case_event_messages_from_dlq.sql
  src/test/resources/sql/insert_processing_ready_case_event_messages_for_different_case.sql
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/utils/Common.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-456

#447 RWA-2103 Suppress Errors On Lombok Annotations
  .gitignore
  lombok.config
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/model/MessageUpdateRetry.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-447

#470 RWA-2276-readme file arranged
  README.md
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-470

#461 RWA-2231: Enable debug mode
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerTestingControllerFunctionalTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-461

#476 RWA-2326
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, add-or-update, rel:wa-case-event-handler-pr-476
