Repository hmcts/wa-case-event-handler, pull requests merged in 2023-07, with the labels that each got.

#587 RWA-2647-Make http UNAUTHORIZED Case Event responses
  charts/wa-case-event-handler/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/UnprocessableHttpErrors.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/UnprocessableHttpErrorsTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-587

#600 Rwa 2681 log limits
  lib/applicationinsights.json
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventsConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventsDeadLetterQueueConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/MessageReadinessConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageReceiverService.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventConsumerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-600

#604 Removing unnecessary config
  lib/applicationinsights.json
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-604

#579 RWA-2576: Add casetype_id to FIND_PROBLEM_MESSAGES
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/query/FindProblemMessageTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/query/FindProblemMessageUnhappyPathTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/model/ProblemMessage.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/CaseEventMessageMapper.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/CaseEventMessageMapperTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageReceiverServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/jobservices/FindProblemMessageJobTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-579
