Repository hmcts/wa-case-event-handler, pull requests merged in 2023-09, with the labels that each got.

#623 Fix CVE-2023-41080
  Jenkinsfile_CNP
  audit.json
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-623

#625 RWA-2775- Fix unit test failure WA-case-event-handler
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/ReconfigurationCaseEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/ccd/CcdEventProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/jobservices/CleanUpMessageJobTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/jobservices/FindProblemMessageJobTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-625

#624 RWA-2744: Update Renovate Config
  .github/renovate.json
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-624

#633 RWA-2686: Fix Functional Tests
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/MessageProcessorFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerFunctionalTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-633
