Repository hmcts/wa-case-event-handler, pull requests merged in 2023-01, with the labels that each got.

#434 RWA-2049 new message job for setting message state
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/jobs/JobName.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/entity/CaseEventMessageEntity.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/jobservices/SetStateToProcessedMessageJob.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/jobservices/SetStateToProcessedMessageJobTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-434

#437 RWA-2062:CEH: Disable messaging services for funtional test profile
  README.md
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/CcdEventPublisherConfiguration.java
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/MessageReadinessConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/ServiceBusConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/MessageReadinessExecutor.java
  src/main/resources/application.yaml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-437

#448 RWA-2129 resolve CVE issues
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-448

#451 RWA-2127 Updating Gradle Version to 7.6
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-451

#446 RWA-1725 optimisitic retry mechanism for message processing
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/MessageProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/DatabaseMessageConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/RestExceptionCategory.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/UnprocessableHttpErrors.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/DatabaseMessageConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/RestExceptionCategoryTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/UnprocessableHttpErrorsTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-446

#344 RWA-1712: java 17 upgrade
  Dockerfile
  build.gradle
  config/pmd/ruleset.xml
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerEndpointTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/InitiationCaseEventHandler.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageErrorHandlingRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageReceiverServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-344
