Repository hmcts/wa-case-event-handler, pull requests merged in 2024-04, with the labels that each got.

#692 RWA-3227: Extend Suppression
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-692

#694 RWA-3126: spotInstance config added
  charts/wa-case-event-handler/Chart.yaml
  charts/wa-case-event-handler/values.yaml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-694

#693 RWA-3222: Corrected Timezone calculations
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ReceivedMessagesHealthControllerTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ReceivedMessagesHealthController.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ReceivedMessagesHealthControllerTest.java
Labels: ns:wa, prd:wa, enable_keep_helm, rel:wa-case-event-handler-pr-693

#695 RWA-3295: Added staging env check for receivedMessages api
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ReceivedMessagesHealthControllerStagingEnvTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ReceivedMessagesHealthController.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ReceivedMessagesHealthControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-695

#696 Rwa 3299 health check time correction
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ReceivedMessagesHealthController.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ReceivedMessagesHealthControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-696
