Repository hmcts/wa-case-event-handler, pull requests merged in 2024-10, with the labels that each got.

#785 RWA-3813 Fix code smells
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/query/ProblemMessageServiceTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/model/ExecuteReconfigureTaskFilter.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/model/TaskOperation.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/model/TaskOperationRequest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/jobservices/FindProblemMessageJob.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/jobservices/ResetNullEventTimestampMessageJob.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/jobservices/ResetProblemMessageJob.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/DatabaseMessageConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/model/ProblemMessageTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/CancellationCaseEventHandlerBackwardsCompatibilityTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/CancellationCaseEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/WarningCaseEventHandlerBackwardsCompatibilityTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/handlers/WarningCaseEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageErrorHandlingRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageReceiverServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/UpdateRecordErrorHandlingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/holidaydates/CountryHolidayDatesTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/holidaydates/HolidayDateTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/jobservices/CleanUpMessageJobTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/jobservices/FindProblemMessageJobTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/jobservices/ProblemMessageServiceTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/jobservices/ResetNullEventTimestampMessageJobTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/jobservices/ResetProblemMessageJobTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/jobservices/SetStateToProcessedMessageJobTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-785

#780 Nightly dev
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ProblemMessageControllerFunctionalTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-780

#793 RWA-3884 extend cve suppression
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-793

#789 Rwa 3878
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/query/FindProblemMessageTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/query/ProblemMessageServiceTest.java
  src/integrationTest/resources/scripts/problem_messages_data.sql
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageRepository.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/CaseEventMessageMapper.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/CaseEventMessageMapperTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-789

#788 Reinstating msg content statements
  src/main/resources/scripts/RWA-3871_reinstate-msg-content.sql
  src/main/resources/scripts/RWA-3871_reinstate-msg-content_rollback.sql
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-788

#792 CME-36 bump java to version 21
  .github/workflows/swagger.yml
  Dockerfile
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ReceivedMessagesHealthControllerStagingEnvTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ReceivedMessagesHealthControllerTest.java
  src/integrationTest/resources/application-integration.yaml
  src/main/resources/application-db.yaml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-792

#802 RWA-3914 test fix
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/MessageProcessorFunctionalTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-802
