Repository hmcts/wa-case-event-handler, pull requests merged in 2024-02, with the labels that each got.

#682 Bumping spring sec to fix CVE
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-682

#683 RWA-2932: Remove Postgres single server infra.
  infrastructure/main.tf
Labels: ns:wa, prd:wa, destroy, rel:wa-case-event-handler-pr-683

#684 Rwa 2932
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/wa-case-event-handler/Chart.yaml
  charts/wa-case-event-handler/values.yaml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-684

#681 RWA-3059: extended implementation for Liveness and Readiness checks
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerLivenessHealthControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerReadinessHealthControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/services/CaseEventMessageCacheServiceTest.java
  src/integrationTest/resources/application-integration.yaml
  src/integrationTest/resources/scripts/insert_100_case_event_messages.sql
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/CaffeineConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerLivenessHealthController.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerReadinessHealthController.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/CaseEventMessageCacheService.java
  src/main/resources/application-local.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerLivenessHealthControllerTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerReadinessHealthControllerTest.java
Labels: ns:wa, prd:wa, enable_keep_helm, rel:wa-case-event-handler-pr-681

#686 RWA-3130: Adding app-insight alert messages
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerLivenessHealthController.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerReadinessHealthController.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-686

#687 RWA-3145: Extend suppression
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-687
