Repository hmcts/wa-case-event-handler, pull requests merged in 2024-09, with the labels that each got.

#763 RWA-3755: Flaky test fix
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerFunctionalTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/DatabaseMessageConsumerTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-763

#767 RWA-3763: Extend Suppression
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, aat/add-or-update, prod/add-or-update, rel:wa-case-event-handler-pr-767

#768 Degrading LaunchDarkly to 6.2.1
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-768

#764 RWA-3782: ResetProblemMessageTest Fix
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/query/ResetProblemMessageTest.java
  src/integrationTest/resources/scripts/reset_problem_messages_data.sql
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-764

#777 RWA-3845 Update Find Problem Message Job
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/query/FindProblemMessageTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/query/ProblemMessageServiceTest.java
  src/integrationTest/resources/scripts/problem_messages_data.sql
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/jobservices/FindProblemMessageJob.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-777
