Repository hmcts/wa-case-event-handler, pull requests merged in 2024-08, with the labels that each got.

#739 RWA-3520: Upgrade dependencycheck to 10.0.2
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-739

#709 RWA-2310: Springboot upgrade
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/CcdEventPublisherConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerEndpointTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerInvalidMessageTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/Application.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/CustomLogBookConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/OpenAPIConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/CcdCaseEventsDeadLetterQueueExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/CcdCaseEventsExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/CcdMessageProcessorExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/MessageReadinessExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerController.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerTestingController.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/ccd/message/EventInformation.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/model/TaskOperationRequest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/entity/CaseEventMessageEntity.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageCustomCriteriaRepository.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/config/CcdRetryableClient.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/services/AuthorizationProvider.java
Labels: ns:wa, prd:wa, WIP, rel:wa-case-event-handler-pr-709

#742 Revert "RWA-2310: Springboot upgrade"
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/CcdEventPublisherConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerEndpointTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerInvalidMessageTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/Application.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/CustomLogBookConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/OpenAPIConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/CcdCaseEventsDeadLetterQueueExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/CcdCaseEventsExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/CcdMessageProcessorExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/MessageReadinessExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerController.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerTestingController.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/ccd/message/EventInformation.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/model/TaskOperationRequest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/entity/CaseEventMessageEntity.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageCustomCriteriaRepository.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/config/CcdRetryableClient.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/services/AuthorizationProvider.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-742

#741 Disabling test
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/MessageProcessorFunctionalTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-741

#743 WA Case event Handler update test to fix build issues
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/MessageProcessorFunctionalTest.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/MessagingTests.java
Labels: ns:wa, prd:wa, WIP, rel:wa-case-event-handler-pr-743

#744 RWA-3564 fix easy code smells
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/LaunchDarklyFeatureFlagProvider.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageQueryService.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/services/holidaydates/HolidayLoader.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageCustomCriteriaRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/services/EventMessageQueryServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-744

#745 Rwa 2310 spring boot upgrade
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/config/CcdEventPublisherConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerEndpointTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerInvalidMessageTest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/Application.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/CustomLogBookConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/OpenAPIConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/CcdCaseEventsDeadLetterQueueExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/CcdCaseEventsExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/CcdMessageProcessorExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/executors/MessageReadinessExecutor.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerController.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerTestingController.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/ccd/message/EventInformation.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/domain/model/TaskOperationRequest.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/entity/CaseEventMessageEntity.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/repository/CaseEventMessageCustomCriteriaRepository.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/config/CcdRetryableClient.java
  src/testUtils/java/uk/gov/hmcts/reform/wacaseeventhandler/services/AuthorizationProvider.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-745

#750 Nightly dev
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ProblemMessageControllerFunctionalTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-750

#751 Nightly dev
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/ProblemMessageControllerFunctionalTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-751

#761 Camunda tests fix
  src/functionalTest/java/uk/gov/hmcts/reform/wacaseeventhandler/controllers/CaseEventHandlerControllerFunctionalTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-761
