Repository hmcts/wa-case-event-handler, pull requests merged in 2025-02, with the labels that each got.

#830 CME-124 enable db monitoring and alerting
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:wa, prd:wa, stale, aat/add-or-update, prod/add-or-update, rel:wa-case-event-handler-pr-830

#843 Reverting pitest version bump
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-843

#848 RWA-3801: LaunchDarkly Sonar fixes
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/LaunchDarklyFeatureFlagProvider.java
  src/test/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/LaunchDarklyFeatureFlagProviderTest.java
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-848

#850 Rwa 4101 lower servicebus logs
  lib/applicationinsights.json
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/clients/CcdCaseEventsConsumer.java
  src/main/java/uk/gov/hmcts/reform/wacaseeventhandler/config/ServiceBusConfiguration.java
  src/main/resources/application.yaml
Labels: ns:wa, prd:wa, rel:wa-case-event-handler-pr-850
